#ignore temporary files
*~
*.swp
*.Rout

#ignore R session files + RStudio files
.Rhistory
.RData
*.Rproj*
.Rprofile
.Rbuildignore
Rprof.out

#ignore R CMD build/check genrated files
/*.Rcheck/
/*.tar.gz

#ignore object files and executables
*.o
*.so
*.exe
.Rproj.user
symbols.rds
